<h1>Simple Composer</h1>
<p>Welcome to simple composer</p>
<input name="text" id="userInput" type="text">
</br>
<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
</canvas>